/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -main-back-col: #303030;
    -main-fore-col: white;
    -fx-background-color: -main-back-col;
}

.heading{
    -fx-font-size: 15;
    -fx-text-fill: -main-fore-col;
    -fx-font-weight: bold;
}

.label, .check-box{
    -fx-text-fill: -main-fore-col;
    -fx-font-weight: bold;
}

.check-box .box, .check-box .mark{
    -fx-background-color: #6662BB;
}

.check-box .box{
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-color: white;
}

.check-box:selected .box{
    -fx-background-color: white;
}

.check-box:selected .mark{
    -fx-background-color: #26227B;
}


.titled-pane{
    -fx-text-fill: -main-fore-col;
}
.title{
    -fx-background-color: -main-back-col;
    -fx-font-size: 14.5;
    -fx-font-weight: bold;
}

.tooltip{
    -fx-font-size: 14;
    -fx-font-style: italic;
    -fx-font-weight: normal;
    -fx-text-fill: black;
    -fx-background-color: -main-fore-col;
}
.content{
    -fx-background-color: black;
	-fx-border-color: cyan;
	-fx-border-insets: 1;
}

.button{
    -fx-background-color: linear-gradient(to bottom, #46429B, #6662BB 35%, #26227B 85%);
    -fx-text-fill: -main-fore-col;
    -fx-font-weight: bold;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-color: silver;
}

